<!DOCTYPE html>

<html>

<head>
    <title>Habitify - Build new habits</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/habit.css">
    <!-- <link rel="stylesheet" href="../assets/fontawesome/css/all.css"> -->
</head>

<body>
    <div id="main">
        <!-- //dynamic habit name loaded form locals -->
        <h3><%= habit.name %></h3>
        <div class="history">
            <span id="historyspan">Last 7 Days</span><br>
            <div class="calendar-div">
                <% for(let x=0;x<7;x++){ %>
                <div class="listday">
                    <!-- //dynamically setting colors of the days in calendar according to the status of them -->
                    <span class="daytitle"><%= getStaticDay(x) %></span> <br>
                    <span id="<%= getDate(x)%>" onclick="toggleState('<%= getDate(x)%>','<%= habit._id%>')"
                        <% if(success(x , habit.succeson)){ %> style="background-color:#5666F3;color:white" <%}%>
                                        <% if(fail(x , habit.failon)){ %>
                        style="background-color:red;color:white;border:1.5px solid red" <%}%>
                                        class="daynumber"><%= getStaticDate(x) %></span>
                </div>
                <% }%>
            </div>
        </div><br><br>
        <button onclick="window.location.href='/'">back</button>
    </div>
    <script src="../assets/js/habit.js"></script>
</body>

</html>